[mlflow]
default_permission = READ
database_uri = sqlite:///$HOME/mlflow/server/auth/basic_auth.db
admin_username = admin
admin_password = CHANGE_ME_WITH_STRONG_PASSWORD
authorization_function = mlflow.server.auth:authenticate_request_basic_auth
