[Unit]
Description=oauth2-proxy for MLflow (Globus OIDC)
After=network.target

[Service]
Type=simple
User=huihuo.zheng
WorkingDirectory=/home/huihuo.zheng/alcf_mlflow/server
ExecStart=/usr/local/bin/oauth2-proxy --config /home/huihuo.zheng/alcf_mlflow/server/generated/oauth2-proxy.cfg
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
